<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Validar</servlet-name>
        <servlet-class>Controlador.Validar</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudGestion</servlet-name>
        <servlet-class>Controlador.CrudGestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudDocumentacion</servlet-name>
        <servlet-class>Controlador.CrudDocumentacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudServicio</servlet-name>
        <servlet-class>Controlador.CrudServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validar_ing</servlet-name>
        <servlet-class>Validar_ing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargarFichero</servlet-name>
        <servlet-class>Controlador.CargarFichero</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudServicioing</servlet-name>
        <servlet-class>Controlador.CrudServicioing</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudGestioning</servlet-name>
        <servlet-class>Controlador.CrudGestioning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudDocumentacioning</servlet-name>
        <servlet-class>Controlador.CrudDocumentacioning</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMasivaServicio</servlet-name>
        <servlet-class>Controlador.CargaMasivaServicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargamasivaUsuarios</servlet-name>
        <servlet-class>Controlador.CargamasivaUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMasivaGestion</servlet-name>
        <servlet-class>Controlador.CargaMasivaGestion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasiveController</servlet-name>
        <servlet-class>Controlador.MasiveController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerMatricula</servlet-name>
        <servlet-class>Controlador.ControllerMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorUsuario</servlet-name>
        <servlet-class>Controlador.ControladorUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerRecurso</servlet-name>
        <servlet-class>Controlador.ControllerRecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudServicio_cursos</servlet-name>
        <servlet-class>Controlador.CrudServicio_cursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMasivaServicio_cursos</servlet-name>
        <servlet-class>Controlador.CargaMasivaServicio_cursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMasivaUsuario</servlet-name>
        <servlet-class>Controlador.CargaMasivaUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMasivaDocumentacion</servlet-name>
        <servlet-class>Controlador.CargaMasivaDocumentacion</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudGestion_cursos</servlet-name>
        <servlet-class>Controlador.CrudGestion_cursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControllerLibro</servlet-name>
        <servlet-class>Controlador.ControllerLibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdflibro</servlet-name>
        <servlet-class>Controlador.pdflibro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NotifyBook</servlet-name>
        <servlet-class>Controlador.NotifyBook</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorMatricula</servlet-name>
        <servlet-class>Controlador.ControladorMatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfmatricula</servlet-name>
        <servlet-class>Controlador.pdfmatricula</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorEps</servlet-name>
        <servlet-class>Controlador.ControladorEps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfeps</servlet-name>
        <servlet-class>Controlador.pdfeps</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ControladorBoletin</servlet-name>
        <servlet-class>Controlador.ControladorBoletin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfboletin</servlet-name>
        <servlet-class>Controlador.pdfboletin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CargaMasivaGestion_cursos</servlet-name>
        <servlet-class>Controlador.CargaMasivaGestion_cursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CrudDocumentacion_cursos</servlet-name>
        <servlet-class>Controlador.CrudDocumentacion_cursos</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MasiveBookData</servlet-name>
        <servlet-class>Controlador.MasiveBookData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SIAISupports</servlet-name>
        <servlet-class>Controlador.SIAISupports</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecursoController</servlet-name>
        <servlet-class>Controlador.RecursoController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>pdfrecurso</servlet-name>
        <servlet-class>Controlador.pdfrecurso</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Validate</servlet-name>
        <servlet-class>Controlador.Validate</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Validar</servlet-name>
        <url-pattern>/Validar</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudDocumentacion</servlet-name>
        <url-pattern>/CrudDocumentacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudGestion</servlet-name>
        <url-pattern>/CrudGestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudServicio</servlet-name>
        <url-pattern>/CrudServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validar_ing</servlet-name>
        <url-pattern>/Validar_ing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargarFichero</servlet-name>
        <url-pattern>/CargarFichero</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudServicioing</servlet-name>
        <url-pattern>/CrudServicioing</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudGestioning</servlet-name>
        <url-pattern>/CrudGestioning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudDocumentacioning</servlet-name>
        <url-pattern>/CrudDocumentacioning</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMasivaServicio</servlet-name>
        <url-pattern>/CargaMasivaServicio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargamasivaUsuarios</servlet-name>
        <url-pattern>/CargamasivaUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMasivaGestion</servlet-name>
        <url-pattern>/CargaMasivaGestion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasiveController</servlet-name>
        <url-pattern>/MasiveController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerMatricula</servlet-name>
        <url-pattern>/ControllerMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorUsuario</servlet-name>
        <url-pattern>/ControladorUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerRecurso</servlet-name>
        <url-pattern>/ControllerRecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudServicio_cursos</servlet-name>
        <url-pattern>/CrudServicio_cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMasivaServicio_cursos</servlet-name>
        <url-pattern>/CargaMasivaServicio_cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMasivaUsuario</servlet-name>
        <url-pattern>/CargaMasivaUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMasivaDocumentacion</servlet-name>
        <url-pattern>/CargaMasivaDocumentacion</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudGestion_cursos</servlet-name>
        <url-pattern>/CrudGestion_cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControllerLibro</servlet-name>
        <url-pattern>/ControllerLibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdflibro</servlet-name>
        <url-pattern>/pdflibro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NotifyBook</servlet-name>
        <url-pattern>/NotifyBook</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorMatricula</servlet-name>
        <url-pattern>/ControladorMatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfmatricula</servlet-name>
        <url-pattern>/pdfmatricula</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorEps</servlet-name>
        <url-pattern>/ControladorEps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfeps</servlet-name>
        <url-pattern>/pdfeps</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ControladorBoletin</servlet-name>
        <url-pattern>/ControladorBoletin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfboletin</servlet-name>
        <url-pattern>/pdfboletin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CargaMasivaGestion_cursos</servlet-name>
        <url-pattern>/CargaMasivaGestion_cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CrudDocumentacion_cursos</servlet-name>
        <url-pattern>/CrudDocumentacion_cursos</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MasiveBookData</servlet-name>
        <url-pattern>/MasiveBookData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SIAISupports</servlet-name>
        <url-pattern>/SIAISupports</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecursoController</servlet-name>
        <url-pattern>/RecursoController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>pdfrecurso</servlet-name>
        <url-pattern>/pdfrecurso</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Validate</servlet-name>
        <url-pattern>/Validate</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <error-page>
        <error-code>404</error-code>
        <location>/404.html</location>
    </error-page>
</web-app>
