body{
  background:#f4f4f4;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default {
  background-color: #2874A6;
  border-color: #797D7F  ;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffffff;
}
.navbar-default .navbar-text {
  color: #2874A6;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #2874A6;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2874A6;
  background-color: #2874A6;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #2874A6;
  background-color: #2874A6;
}
.navbar-default .navbar-toggle {
  border-color: #2874A6;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #2874A6;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #2874A6;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #2874A6;
}
.navbar-default .navbar-link {
  color: #2874A6;
}
.navbar-default .navbar-link:hover {
  color: #ffffff;
}


/* Custom */
.color-principal, .panel-default > .panel-heading{
  background-color: #2874A6 !important;
  border-color: #616A6B !important;
  color:#ffffff !important;
}

/* Header */
#header{
  background:#282828;
  color:#ffffff;
  padding-bottom: 10px;
  margin-bottom: 15px;
}

#header .crear{
  padding-top: 20px;
}

/* Breadcrumb */
.breadcrumb{
  background:#cccccc;
  color:#333333;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.barra-progreso{
  background:#333333;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}

#login{
  margin-top:30px;
}

/* Footer */
#footer{
  background:#282828;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}


@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffffff;
    background-color: #ab5226;
  }
}